@using Space.Helpers;
@using Space.Models;
@using SpaceTraders.Api;
@using SpaceTraders.Model;

@inherits SpaceComponentBase;

@{
    if (this.ShipModel == null)
    {
        return;
    }

    var isSelectedClass = this.Application.SelectedShip.Value?.Ship.Symbol == this.ShipModel.Ship.Symbol ? "selected" : null;
}

<div @onclick="() => this.Application.SelectedShip.Value = this.ShipModel" class="panel ship @isSelectedClass">
    <div>
        @this.ShipModel.Ship.Symbol
        <span title="@this.ShipModel.Ship.Frame.Description">(@this.ShipModel.Ship.Registration.Role-@this.ShipModel.Ship.Frame.Symbol)</span>
    </div>

    @if (this.ShowFuel && this.ShipModel.Ship.Fuel.Capacity > 0)
    {
        <div>Fuel: @this.ShipModel.Ship.Fuel.Current / @this.ShipModel.Ship.Fuel.Capacity</div>
    }

    @if (this.ShipModel.Ship.Cargo.Capacity > 0)
    {
        <div>Cargo: @this.ShipModel.Ship.Cargo.Units / @this.ShipModel.Ship.Cargo.Capacity</div>
    }

    @if (this.ShowCrew && this.ShipModel.Ship.Crew.Capacity > 0)
    {
        <div>Crew: @this.ShipModel.Ship.Crew.Current / @this.ShipModel.Ship.Crew.Capacity</div>
        if (this.ShowCrewMorale)
        {
            <div>Crew Morale: @this.ShipModel.Ship.Crew.Morale%</div>
        }
    }

    @{
        var cooldown = this.ShipModel.CooldownTimeLeft();
        @if (cooldown.HasValue)
        {
            <div>Cooldown: @cooldown.Value.ToString(@"hh\:mm\:ss")</div>
        }
    }

    @if (this.ShowLocation)
    {
        <div>
            Location:
            <a @onclick="() => this.Application.SetSelectedWaypoint(this.ShipModel.Ship.Nav.WaypointSymbol)">
                @this.ShipModel.Ship.Nav.WaypointSymbol
            </a>
        </div>
    }
</div>

<style>
    .ship {
        display: flex;
        flex-direction: column;
        gap: 0;
        cursor: pointer;
    }

        .ship.selected {
            border-color: var(--selection-color);
            box-shadow: 0 0 .2em .1em var(--selection-color);
        }
</style>

@code {
    [Parameter]
    public ShipModel? ShipModel { get; set; }

    [Parameter]
    public bool ShowLocation { get; set; } = true;

    [Parameter]
    public bool ShowCrew { get; set; } = true;

    [Parameter]
    public bool ShowCrewMorale { get; set; } = false;

    [Parameter]
    public bool ShowFuel { get; set; } = true;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        if (this.ShipModel != null)
        {
            this.ShipModel.Changed += this.Ship_Changed;
        }
    }

    private void Ship_Changed()
    {
        this.InvokeAsync(this.StateHasChanged);
    }

    private void SelectedShip_Changed(Observable<ShipModel?> observable)
    {
        this.InvokeAsync(this.StateHasChanged);
    }

    protected override void DisposeCore()
    {
        if (this.ShipModel != null)
        {
            this.ShipModel.Changed -= this.Ship_Changed;
        }
    }
}
